.teaser-link {
  color: @text-color;
  &:hover {
    .text-white { color: #eee; }
    color: @brand-primary;
    text-decoration: none;
    img {
      opacity: 0.85;
    }
  }
  transition: color 0.3s;
  img {
    transition: 0.3s;
    -webkit-backface-visibility:hidden; /* Chrome, Safari, Opera */
    backface-visibility:hidden;
   }
}

.row.slide {
  //transform: rotateX(65deg);
  //transform-origin: 18% 0%;
  //perspective: 950;-webkit-transform: scale(1) scaleZ(1.0) rotateX(65deg);
  padding: 17rem 0;
  @media @xs { padding: 6rem 0; }
  //height: 30rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

