.teaser-link {
  color: @text-color;
  &:hover {
    .text-white { color: #eee; }
    color: @brand-primary;
    text-decoration: none;
    img {
      opacity: 0.85;
    }
  }
  transition: color 0.3s;
  img {
    transition: 0.3s;
    -webkit-backface-visibility:hidden; /* Chrome, Safari, Opera */
    backface-visibility:hidden;
   }
}

.row.slide {
  //transform: rotateX(65deg);
  //transform-origin: 18% 0%;
  //perspective: 950;-webkit-transform: scale(1) scaleZ(1.0) rotateX(65deg);
  padding: 15.5rem 0;
  @media @xs { padding: 6rem 0; }
  //height: 30rem;
  background-position: center center;
  background-repeat: no-repeat;
  //background-size: auto 100%;
  /*.container {
    transition: all 1s;
  }
  &:hover .container {
    -webkit-transform: translateX(30px);

  }*/
}

#content {
  z-index: 3;
  > .row { margin-right: 0; margin-left: 0; }
}

.blur {
-webkit-filter: blur(8px) contrast(0.4) brightness(1.4);
-moz-filter: blur(8px) contrast(0.4) brightness(1.4);
-o-filter: blur(8px) contrast(0.4) brightness(1.4);
-ms-filter: blur(8px) contrast(0.4) brightness(1.4);
clip: rect(0px 200px 516px 0px);
transition: all 0.5s ease-in-out;
-webkit-transform: translate3d(0,0,0);
}

/*.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: url(#blur);
  filter: blur(3px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}*/

