header.navbar.navbar-fixed-top#header
  .container
    .row
      .col-sm-9.col-xs-8
        a(href="/"): .h2 Michael Seel
      .col-xs-1.text-right
        a(href="#")
          i.glyphicon.glyphicon-user.icon-large
          .hidden-xs Profile
      .col-xs-1.text-right
        a(href="#")
          i.glyphicon.glyphicon-flash.icon-large
          .hidden-xs Work
      .col-xs-1.text-right
        a(href="#")
          i.glyphicon.glyphicon-book.icon-large
          .hidden-xs Blog
.blurheader
.fadeout
